# Author - Tejasvi Sharma
Data Science Student, George Washington University

Loop Types:

    1)For Loop

    2)While Loop

    3)Nested Loop

In [4]:
#For LOOP
for i in range(1,11):# range goes till one value less than the second argument
    print(i)

1
2
3
4
5
6
7
8
9
10

In [5]:
#while loop
i=1
while(i<=10):#condition
    print(i)
    i=i+1 #increment

1
2
3
4
5
6
7
8
9
10

In [6]:
#Nested Loop, loop inside loop
for i in range(1,3):
    for j in range(1,3):
        print(i*j)

1
2
2
4

Question 1: Find out the sum of range of numbers using both for and while loop. Range(1-100)

In [1]:
#Solution
#For loop

Question 2: Find out the factorial of a number using for and while loop.

Example:-

    Input: 4
    
    Output:
    
    Factorial =24 (Factorial =4*3*2*1)

In [1]:
#To do
#Solution
#For Loop

#implement While loop

Question 3: Find out whether a number is a prime number or not.

Example 1:-

    Input:- 4
    
    Output:
    
    Not aPrime Number

Example 2:-

    Input:- 3
    
    Output:
    
    Prime Number

In [2]:
#Prime number is divisible by itself and 1, so it has 2 factors

#Counting factors to determine whether prime or not

Question 4: Find the sum on numbers in a list.

Example:-
    
    Input list- [1,2,3,4]
    
    Output:
    
    Sum of list= 10

In [3]:
#To do
#Using For loop

Question 5: Print patterns

5.a)                            
    
    *
    **
    ***
    ****
    *****

5.b)

    1    
    12
    123
    1234 
    12345

In [4]:
#Solution
#Pattern 1

#pattern 2

Question 6: Print Patterns

6.a)
    
    1
    23
    456
    78910
    
6.b) 

    *****
    ****
    ***
    **
    *

In [5]:
#To do
#Solution 6.a


#solution 6.b

Question 7: Print sum of digits in a number.

Example:

    Input Number: 123
    
    Output:
    
    Sum digits= 6

In [6]:
#Solution

Question 8: Given a list of numbers find out how many are even numbers.

Example:

    Input list: [5,9,2,14,20,55]
    
    Output:
    
    Count of even numbers=3

In [7]:
#To do
#Solution

Question 9: Reverse a given number.

Example:

    Input: 123
    
    Output: 321

In [3]:
#To do
#Solution

Question 10: Find the sum of reverse of numbers in a list.

Example-

    Input:- [23,41,56,45]
    
    Output:- Sum = 165(sum of 32,14,65,54)

In [5]:
#To do
#Solution

Question 11: Print contents of a list in reverse.

Example-

    Input:- [54,76,89,98,100]
    
    Output:-
    
        100 98 89 76 54

In [9]:
#To do
#Solution

# Loop control statements

In [ ]:
#explain break statements, pass statements, continue statements
#Give examples

Question 12: Write a program to find whether a number is prime or not using break.

Example:

    Input: 4
    
    Output: Not a prime Number

In [10]:
#Solution
#Example of Break

Question 13: Write a program to find sum of even numbers in a list.

Example: 

    Input: [2,4,78,33,21,42]
    
    Output: Sum= 126(Sum of 2,4,78,42)

In [7]:
#Solution

Question 14: Write a program to find hcf of two numbers.

Example: 

    Input: Two numbers 4,8
    
    Output: 4(Highest Common Factor)

In [8]:
#To do
#Solution

Question 15: Write a program to parse a matrix element by element.

Example- 
    
    Input: [[1,2,3],
            [4,5,6],
            [7,8,9]]
            
    Output: 1 2 3
            4 5 6
            7 8 9

In [12]:
#Matrix is a list of list

Question 16: Write a program to find sum of left diagonal in a matrix.

Example- 
    
    Input: [[1,2,3],
            [4,5,6],
            [7,8,9]]
    
    Output: sum =15

In [13]:
#Matrix is a list of list
#To do

Question 17: Print Pattern.
    
    1
    11
    121
    1331
    14641

In [14]:
#To do